.DivPadre{
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 98vw;
}


.DivPadre h2{
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  
}

.DivPadre input::placeholder {
    font-size: 15.5px; 
    text-align: center;
    color: black;
    font-weight: 500;
   
}
.h4{
    color: red;
}

.input1{
    border-radius: 25px;
    padding: 14.4px;
    width: 400px;
    text-align: center;
    font-size: 15.5px;
    margin: 10px;
    border: 2px solid rgb(54, 52, 52);
}

.input2{
    border-radius: 25px;
    padding: 14.4px;
    width: 270px;
    margin: 10px;
    font-size: 15.5px;
    padding: 14.4px;
    text-align: center;
    border: 2px solid rgb(54, 52, 52);
}


.input3{
    border-radius: 25px;
    padding: 14.4px;
    width: 340px;
    margin: 10px;
    font-size: 15.5px;
    font-size: 15.1px; 
    text-align: center;
    border: 2px solid rgb(54, 52, 52);
}


.input4{
    border-radius: 25px;
    padding: 10px;
    width: 560px;
    margin: 10px;
    padding: 14.4px;
    font-size: 15.1px; 
    text-align: center;
    border: 2px solid rgb(54, 52, 52);
}



.input5{
    border-radius: 25px;
    padding: 10px;
    width: 400px;
    margin: 10px;
    padding: 14.4px;
    font-size: 15.5px;
    text-align: center;
    border: 2px solid rgb(54, 52, 52);
}


.btn{
    padding: 15px;
    border-radius: 30px;
    background-color: black;
    font-size: 15px;
    border: none;
    color: white;
    margin-top: -30px;
    padding-left: 70px;
    padding-right : 70px;
    cursor: pointer;
    margin-top:30px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: rgb(68, 67, 67);
    transition: 1s;
   }
   
   .DivInputs{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 768px) {


    .DivPadre {
        min-height: 100vh;
        }
  
    
    .DivPadre h2{

      margin-top: -0vh;
      }

    .DivPadre input::placeholder {
        font-size: 12.5px; 

    }

    .DivInputs{
        min-width: 100vw;
        z-index: 300;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: white;
    }
    

    .input1{
        width: 95%;
        font-size: 12.5px;
        padding-left: 0;
        padding-right: 0;
    }

    .input2{
        width: 95%;
        font-size: 12.5px;
        padding-left: 0;
        padding-right: 0;
    }

    .input3{
        width: 95%;
        font-size: 12.5px;
        padding-left: 0;
        padding-right: 0;
    }
    

    .input4{
        width: 95%;
        font-size: 12.5px;
        padding-left: 0;
        padding-right: 0;
    }

    .input4{
        width: 95%;
        font-size: 12.5px;
        padding-left: 0;
        padding-right: 0;
    }
    .input4::placeholder {
        font-size: 9px !important;
    }
    .input5{
        width: 95%;
        font-size: 12.5px;
        padding-left: 0;
        padding-right: 0;
    }

    .input6{
        width: 95%;
        font-size: 12.5px;
        padding-left: 0;
        padding-right: 0;
    }
    


    .btn{
          position: relative;
        
          width: 85%;   
          margin-top:40px;
         
    }
  
  }
